<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    
    <title>Infor Parking</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"/>
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="../../static/js/homepagepublic.js" th:src="@{/js/homepagepublic.js}"></script>
    <script type="text/javascript" src="../../static/js/registercontroller.js" th:src="@{/js/registercontroller.js}"></script>
    <script type="text/javascript" src="../../static/js/login.js" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" src="../../static/js/availableslots.js" th:src="@{/js/availableslots.js}"></script>
    <link href="../../css/global.css" th:src="@{/css/global.css}" rel="stylesheet"/>
  </head>

  <body ng-app="ionicApp">
    
    <ion-nav-view></ion-nav-view>
    
  </body>
</html>